[submodule "framework-arduino-picorv32"]
	path = framework-arduino-picorv32
	url = https://github.com/nekomona/framework-arduino-picorv32
[submodule "tool-pico-serialisp"]
	path = tool-pico-serialisp
	url = https://github.com/nekomona/tool-pico-serialisp
[submodule "toolchain-rv32i-windows_x86"]
	path = toolchain-rv32i-windows_x86
	url = https://github.com/nekomona/toolchain-rv32i-windows_x86
